<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Einstellungen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Optionen</ion-label>
    </ion-list-header>
    <ion-item>
        <ion-input
        errorText="Bitte wählen Sie einen anderen Namen" 
        name="nameInput" 
        id="nameInputID"
        (ionChange)="saveToLocalStorage()" 
        label="Name" 
        [(ngModel)]="settings.name"></ion-input>
    </ion-item>
    <!--<ion-item>
        <ion-input name="colorInput" (ionChange)="saveToLocalStorage()" label="Farbe" type="color"  [(ngModel)]="settings.color"></ion-input>
    </ion-item>-->
  </ion-list>
</ion-content>
