<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="chat-container" #ChatContainer>
    
    <ion-card *ngFor="let item of items$ | async" class="chat-bubble" [ngClass]="{'self': item.author === settings.name}">
      <ion-card-header>
        <ion-card-subtitle>{{item.author}} <span class="timestampSpan">{{getDate(item.timestamp)}}</span></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>{{item.text}}</ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
<ion-footer class="chatBox">
  
  <ng-container *ngIf="getLocalStorageName() === ''">
    <ion-input [disabled]="true" ngDefaultControl placeholder="BITTE NAMEN IN EINSTELLUNGEN EINGEBEN!">
      <ion-icon slot="icon-only" slot="end" name="send"></ion-icon>
    </ion-input>
  </ng-container>
  
  <ng-container *ngIf="getLocalStorageName()!==''">
    <ion-input [(ngModel)]="newMessage" ngDefaultControl placeholder="Nachricht...">
      <ion-icon slot="icon-only" slot="end" name="send" (click)="sendNewMessage($event)"></ion-icon>
    </ion-input>
  </ng-container>
</ion-footer>
