.chatBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ion-input {
    --padding-end: 1rem;
    --padding-start: 1rem;
    background:rgb(78, 78, 78);
    width: 80%;
    margin: 10px;
    --border-radius: 40px;
}

.chat-bubble {
    margin: 10px;
    width: 20rem;
    clear:both;
}
.self{
    float:right;
    clear:both;
}
.timestampSpan{
    float:right;
}